# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/

# Compiler files
*.s
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# IDE files
.idea/
.vscode/
.vs/

# Other
*.log
*.txt
*.zip
*.tar.gz
*.tar.bz2
*.tgz
*.tbz2



